extends layout

block head
	link(rel='stylesheet', type='text/css', href='css/style-intro.css')

block content
	.header
		h2.title Finished! 
			i.fa.fa-check-circle-o
		hr.style-four.custom
	.content
		p Thank you for participating in our survey.