extends layout

block head
	link(rel='stylesheet', type='text/css', href='css/style-intro.css')

block header
	h2#title Finished! 
		i.fa.fa-check-circle-o

block content
	h3 Thank you for participating in our survey.