extends layout

block head
  link(rel='stylesheet', type='text/css', href='css/style-index.css')

block content
  .header
    h2.title Select the movie you would like to see
    hr.style-four.custom
  .content
    .movies.col-xs-5
      - var n = 1;
      ul.movieslist
        while n <= 10
          li
            .cover
              h4
                strong.movietitle Movie #{n++}
              h4
                strong.movieyear
            br
            button.btn.btn-success.select(type='button') Select
    .movie-descr.col-xs-7
      h4.stitched Remaining number of choices:  
        p#remNrOfChoices(style="display:inline")
          u
            strong
      .trailer-container
      .movie-info
  script(type='text/javascript', rel='javascript', src='js/script-index.js')