extends layout

block head
	link(rel='stylesheet', type='text/css', href='css/style-intro.css')

block content
	.header
		h2.title Movie Recommendation System User Study
		hr.style-four
	.content(style='text-align: left;')
		.consent-request
			h2 Welcome,
			p This document gives you information about movie preferences study. Before the study begins, it is important that you learn about the procedure followed in this study and that you give your informed consent for voluntary participation. Please read this document carefully.
			p The aim of this study is to test a way in which one can indicate movie preferences to a recommender system. This study is performed by Bianca Ligt, Daniëlle Niestadt, Suraj Iyer, Shivam Rastogi, Niek van Sleeuwen and Olivier van Duuren for the USE ‘Human in Technology’ course, under the supervision of dr.ir. Martijn Willemsen of the Human-Technology Interaction group.
			p The study will last approximately 10-15 minutes.
			p Your participation is completely voluntary. You can refuse to participate without indicating any reasons and you can stop your participation at any time during the study by closing the browser. You can also withdraw your permission to use your experimental date for up to 24 hours after the study is finished. All this will have no negative consequences whatsoever.
			p All research conducted at the Human-Technology Interaction Group adheres to the Code of Ethics of the NIP (Nederlands Instituut voor Psychologen – Dutch Institute for Psychologists). We will not be sharing any personal information about you to anyone outside the research team. The information that we collect from this research project is used for writing scientific publications and will be reported at group level. It will be completely anonymous and it cannot be traced back to you.
			p If you want more information about this study you can ask Bianca Ligt (
				a(href='mailto:b.ligt@student.tue.nl') b.ligt@student.tue.nl
				| ) by sending an e-mail. If you have any complaints about this study, please contact the supervisor, dr.ir. Martijn Willemsen (
				a(href='mailto:M.C.Willemsen@tue.nl') M.C.Willemsen@tue.nl
				| )
			p If you agree to participate, kindly click 'I agree' and proceed to the next part.
		.explanation
			h2 Explanation
			p In this phase we ask you to choose between several movies to help the system learn about your movie preferences. We will show a list of movies and you have to choose the one you would like to watch. You might not know all these movies, but should choose the movie you think that fits your preference best. Additional information to support your decision about each movie is available by hovering over it. Every time you make a choice, the system will use your previous answers to generate a next set of movies to choose from to better learn about your preferences.
			p We ask you to make a total of 10 choices. Once you have done this, you can continue to the next step. You can do this by clicking the "Continue to the next step" button. Once you made a choice, you cannot go back!
			p When you’ve made all the choices, you get a final list of movies which are your recommendations based on your previous choices. We will ask you to choose one of these movies that you would like to watch. After this, you will continue with a questionnaire about the system and the recommendations.
			p Choose the movie you would like to watch. Additional information to support your decision about each movie is available by hovering over it.
			p Lastly, you will be presented with a small survey. Please indicate how much you agree or disagree with the statements about the interface and the movies that were recommended to you.
			p By clicking the ‘Start’ button, you confirm that you understand the methods used in this research and you confirm your participation in this research from the Human-Technology Interaction group.
			h2 Thank you.
	.footer
		hr.style-four.upside-down
		button#agree.btn.btn-primary.btn-lg(type='button') I agree
		button#start.btn.btn-primary.btn-lg(type='button') Start 
			i.fa.fa-chevron-right

block scripts
	script(type='text/javascript', rel='javascript', src='js/script-intro.js')