body {
  background-color: #343d46;
  /*overflow: hidden;*/
}

body > * {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: white;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.content {
	width: 100%;
	margin: auto;
	text-align: center;
	color: white;
	padding: 20px;
	font-weight: 400;
}

.movieslist > li {
	display: inline-block;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.poster {
	display: inline-block;
	min-width: 180px;
	min-height: 256px;
	border: 0.25px solid white;
	border-radius: 4px;
}

.poster:hover {
	cursor: pointer;
	background: #808080;
	opacity: 0.5;
}

.select {
	display: inline-block;
	font-size: 18px;
	border: 0.25px solid white;
	border-radius: 4px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}

.select:hover {
	cursor: pointer;
	background-color: white;
	color: #080808;
}

.trailer-container {
	display: inline-block;
	min-width: 640px;
	min-height: 390px;
	border: 1px solid white;
	border-radius: 4px;
	margin: auto;
	margin-top: 10px;
}

.moviebox {
	display: none;
	width: 100%;
}

.trailer {
	display: block;
	width: 75%;
	height: 350px;
	border: 0.25px solid white;
	background-color: #808080;
}

.moviedescr {
	float: right;
	margin-right: 50px;
}
