  .container-fluid {
  margin-bottom: 10px;
}

#movie-descr {
  display: inline-block;
  width: 100%;
  height: 34vh;
}

.trailer-container {
  max-width: 75%;
  margin: 25px auto;
}

.trailer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border: 1px solid #2F353F;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#movies {
  display: block;
  padding: 0 30px;
}

.movieslist {
  padding: 16px;
  margin-bottom: 0;
  border: 0.25px solid #CACACA;
  border-radius: 4px;
  overflow: auto;
  white-space: nowrap;
}

.movieslist > li {
  display: inline-block;
  margin: 0 4px;
}

.cover {
  position: relative;
  display: inline-block;
  padding: 5px;
  width: 135px;
  height: 192px;
  text-align: center;
  border: 0.25px solid #2F353F;
  border-radius: 4px;
  background: url('http://marvelmoviemarathon.com/posters/placeholder.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cover {
    width: 90px;
    height: 128px;
  }
}

.cover:hover {
  background-color: #f0f0f0;
  background-blend-mode: screen;
  background-size: 140%;
  transition: background-color .5s ease;
}

.covertext {
  color: black;
  font-size: 16px;
  display: none;
  margin-top: 4px;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .covertext {
    font-size: 12px;
  }
}

.cover:hover .covertext {
  display: block;
}

.movie-info {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.movie-info p {
  text-align: left;
}

.select {
	margin-top: 10px;
}