body {
  background-color: #343d46;
  overflow: hidden;
  margin: auto;
	text-align: center;
	color: white;
	padding: 20px;
	font-weight: 400;
}

body > * {
	font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
	width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #449d44;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #5cb85c;
}

a {
	color: white;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.header {
	margin-bottom: 20px;
}

.title {
	margin-top: 0;
	margin-bottom: 0;
}

.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.custom {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content {
	width: 100%;
}

.movies {
	height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.movieslist {
	padding: 20px;
}

.movieslist > li {
	display: inline-block;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.cover {
	position: relative;
	display: inline-block;
	padding: 5px;
	width: 180px;
	height: 256px;
	border: 0.25px solid #5cb85c;
	border-radius: 4px;
	background: url('http://content7.flixster.com/movie/10/93/63/10936393_det.jpg') no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
	cursor: pointer;
}

.cover:hover {
	background-color: #B9B9B9;
	background-blend-mode: screen;
	background-size: 140%;
	transition: background-color .5s ease;
}

.movietitle, .movieyear {
	color: black;
	text-align: center; 
  vertical-align: middle;
	opacity: 0;
}

.cover:hover .movietitle, 
.cover:hover .movieyear {
	opacity: 1;
}

.select {
	margin-top: 10px;
	margin-bottom: 10px;
}

.movie-descr {
	margin: auto;
	padding: 0;
	padding-left: 20px;
}

.stitched {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: #5cb85c;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #5cb85c, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #aa3030;
	font-weight: normal;
}

.trailer-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border: 1px solid #5cb85c;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
