/*button.btn-primary {
  background-color: #5cb85c;
  border-color: #449d44;
}

button.btn-primary:focus,
button.btn-primary:focus:hover,
button.btn-primary:hover {
  background-color: #449d44;
  border-color: #398439;
}

button.btn-primary:focus,
button.btn-primary:focus:hover,
button.btn-primary:active:hover,
button.btn-primary:active,
button.btn-primary:focus:active {
  background-color: #398439;
  border-color: #398439;
}*/

.content {
  font-size: 18px;
}

@media (min-width: 1110px) {
  .content {
    overflow: hidden;
  }
}